h3 {
    margin: 0px;
}

body {
    margin: 0px;
    background-color: rgb(11, 10, 25);
    font-family: sans-serif;
}


.header {
    height: 50px;
    background-color: rgb(88, 99, 121);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.header_ctn {
    max-width: 1024px;
    width: 50vw;
    display: flex;
    justify-content: space-between;
}

.header_title {
    text-align: center;
    justify-self: center;
}

.header_menu_tg {
    padding: 20px;
}

.header_title {
    display: flex;
    align-items: center;
}


.header_menu_tg_btn {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
    padding: 0px;
}



.sidebar {
    padding: 10px;
    width: 50vh;
    display: none;
    overflow-y: scroll;
    height: calc(100vh - 160px);
}

.sd_header_save_btn {
    background-color: aqua;
    height: 35px;
    width: 200px;
    border-radius: 5px;
    border-style: none;
}

.sd_header_save_ctn {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.config_input {
    width: 90%;
    background-color: rgb(88, 99, 121);
    padding: 10px;
    border-style: none;
    border-radius: 5px;
    margin: 5px;
    color: aliceblue;
}


.main {
    height: 100vh;
    color: aliceblue;
    display: flex;
    justify-content: center;
    background-image: url("../img/cute.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.chat {}

.chat_card {
    max-width: 500px;
    width: 80vw;
    min-height: 60px;
    padding: 10px;
    border-radius: 5px;
    margin: 20px;
}

.chat_ctn {
    display: flex;
}

.chat_img_ctn {}

.chat_img {
    width: 50px;
    height: 50px;
    margin: 20px;
    border-radius: 100%;
}

.chat_ctn_user {
    justify-content: end;
}

.user {
    background-color: rgb(88, 99, 121);
}

.maid {
    background-color: rgb(133, 5, 203);
}


.admin {
    background-color: rgb(203, 5, 5);
}

.prompt {
    position: fixed;
    bottom: 0;
    padding: 20px;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(4, 0, 60);
}

.prompt_input {
    background-color: rgb(88, 99, 121);
    padding: 10px;
    color: aliceblue;
    border-style: none;
    border-radius: 5px;
    width: 60vw;
    max-width: 1024px;
    height: 40px;
    font-size: 16px;
}


.prompt_btn {
    background-color: #00ffff00;
    height: 40px;
    width: 40px;
    margin-left: -50px;
    border-radius: 5px;
    border-style: none;
}

.prompt_img {
    width: 40px;
}